/dotfiles/.config/lazygit/state.yml
# default ignore generated local configs
dotfiles/.pi/agent/permissions/skills-lock.json
dotfiles/.pi/agent/permissions/.agents/
dotfiles/.config/worktrunk/approvals.toml
dotfiles/.config/nvim/lua/chadrc.lua

.pi-lens
